<div class="">
    <%= turbo_stream_from "dishes" %>
    <h2 class="px-4 pb-4 text-3xl font-semibold text-center text-brand-comp-dark dark:text-brand-comp">
      <%= t('.title') %>
    </h2>

    <div class="flex flex-col gap-2">
        <% @special_menus.each do |special_menu| %>
            <div class="w-full p-4 mb-8 border border-gray-300 rounded shadow">
                <div class="">
                    <div class="px-3 card-header">
                        <div class="flex justify-<%= special_menu.price.present? ? "between" : "center" %> items-center">
                            <h2 class="px-4 pb-4 text-2xl font-medium text-brand-comp-dark/80 dark:text-brand-comp/80 text-pretty">
                              <%= special_menu.name %>
                            </h2>
                            <% if special_menu.price %>
                                <span class="text-2xl text-brand-gray dark:text-gray-200 font-extralight">
                                    <%= number_with_precision(special_menu.price, precision: 2, separator: ",") %>
                                    <small class='text-lg text-teal font-extralight'><%= t('.price_currency') %></small>
                                </span>
                            <% end %>
                        </div>
                        <p class="mt-2 mb-4 text-base text-pretty font-thin text-green-900 dark:text-green-50 whitespace-pre-wrap">
                          <%= special_menu.description %>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="flex flex-col">
                            <% special_menu.dishes.filter(&:active?).each do |dish| %>
                                <%= link_to build_link(dish), data: { turbo_frame: "modal" } do %>
                                    <% unless special_menu.price.present? %>
                                        <%= render "dish", dish: dish %>
                                    <% else %>
                                        <%= render "menu_dish", dish: dish %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
