<div class="">
    <h2 class="px-4 mb-2 text-3xl font-semibold text-center text-teal-700">Especiais</h2>

    <div class="flex flex-col gap-2">
        <% @special_menus.each do |special_menu| %>
            <div class="w-full p-4 mb-8 border border-gray-300 rounded shadow">
                <div class="">
                    <div class="px-3 card-header">
                        <div class="flex justify-<%= special_menu.price.present? ? "between" : "center" %> items-center">
                            <h2 class="text-2xl font-normal text-teal-800 text-pretty"><%= special_menu.name %></h2>
                            <% if  special_menu.price %>
                                <span class="text-2xl text-teal-700 font-extralight">
                                    <%= number_with_precision(special_menu.price, precision: 2, separator: ",") %><small class='text-lg text-teal font-extralight'>€</small>
                                </span>
                            <% end %>
                        </div>
                        <p class="mt-2 mb-4 text-base font-thin text-green-900 whitespace-pre-wrap"><%= special_menu.description %></p>
                    </div>
                    <div class="card-body">
                        <div class="flex flex-col">
                            <% special_menu.dishes.filter(&:active?).each do |dish| %>
                                <%= turbo_stream_from dish %>

                                <%= link_to build_link(dish), data: { turbo_frame: "modal" } do %>
                                    <% unless special_menu.price.present?  %>
                                        <%= render "dish", dish: dish %>
                                    <% else %>
                                        <%= render "menu_dish", dish: dish %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
