<div class="flex flex-col p-2 border border-gray-200 rounded shadow-md special_menu">
<div class='flex justify-between w-[90%] h-24 mx-auto align-middle relative special_menu-item' data-special_menu-title='<%= special_menu.name.downcase %>' data-special_menu-search-target="item">
    <p class='max-w-[75%] self-center flex flex-col gap-2 text-lg font-medium'>
        <%= truncate(special_menu.name, length: 30, separator: " ", omission: "...") %>
    </p>
    <p class='self-center'>
        <%= turbo_frame_tag "special_menu_active_#{special_menu.id}" do %>
            <%= link_to "🔴", toggle_special_menu_path(special_menu_id: special_menu.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if !special_menu.active %>
            <%= link_to "🟢", toggle_special_menu_path(special_menu_id: special_menu.id), class: "no-underline select-none text-xl", data: { turbo_method: :post } if special_menu.active %>
        <% end %>
    </p>
    <div class='absolute flex gap-2'>
        <%= button_to "Editar", edit_special_menu_path(special_menu), data: { turbo: false }, class: "dark:text-blue-200 text-xs font-thin text-blue-800 p-0", method: :get %>
        <%= button_to "Eliminar", special_menu_path(special_menu), data: { turbo_confirm: "Seguro que queres eliminar o plato?" }, class: "dark:text-red-200 text-xs font-thin text-red-800 p-0", method: :delete %>
    </div>

</div>
<div class="w-full mx-auto border rounded special_menu_dishes border-grey">
    <div class="flex items-center ml-1">
        <h3 class="m-2 grow w-full font-light text-center rounded text-slate-600 dark:text-slate-200 bg-emerald-100/25 dark:bg-emerald-200/20 p-2 text-2xl">Platos</h3>
        <div class="h-10 w-10 my-2 mr-2 bg-brand-red rounded-full shrink-0">
            <%= render "shared/add_button", path: new_special_menu_dish_path(special_menu) %>
        </div>
    </div>
    <% special_menu.dishes.each do |dish| %>
        <%= render 'special_menu_dish', dish: dish, special_menu: special_menu %>
    <% end %>
</div>
</div>
