<%= turbo_stream_from "restaurant_#{params[:restaurant_id]}_dishes" %>
<%= turbo_stream_from "restaurant_#{params[:restaurant_id]}_wines" %>
<%= turbo_stream_from "restaurant_#{params[:restaurant_id]}_drinks" %>

<div class="relative w-full h-full print:max-w-[80%]">
    <a href="#contenido-principal" class="sr-only focus:not-sr-only">
      <%= t('.skip_to_main') %>
    </a>

    <main id="contenido-principal" class="p-3 space-y-4">
        <%= turbo_frame_tag "products" do %>
            <div class="mb-8">
                <h1 class="px-4 py-3 text-3xl font-bold text-center text-brand-comp-dark dark:text-brand-comp bg-gray-50 dark:bg-gray-700 rounded border-l-4 border-brand-comp-dark dark:border-brand-comp">
                    Comida
                </h1>
            </div>
            <%= render "dishes/categorized_dishes" %>
            
            <div class="mb-8 mt-12">
                <h1 class="px-4 py-3 text-3xl font-bold text-center text-brand-comp-dark dark:text-brand-comp bg-gray-50 dark:bg-gray-700 rounded border-l-4 border-brand-comp-dark dark:border-brand-comp">
                    Bebida
                </h1>
            </div>
            <%= render "drinks/categorized_drinks" %>
            
            <%= render "wines/categorized_wines" %>
        <% end %>
</edits>
    </main>
</div>
