<% if Setting.show_toggler?(params[:restaurant_id]) && (request.path.include?("/carta") || request.path.include?("/menu")) %>
  <%= puts request.path %>
  <% if request.path.include?("/carta") %>
    <%= link_to menu_path(restaurant_id: params[:restaurant_id]),
        class: "print:hidden fixed bottom-5 right-5 cursor-pointer drop-shadow-lg bg-brand-red text-white h-[75px] w-[75px] flex justify-center items-center aspect-square rounded-full transition-colors duration-500 animate-pulse-subtle" do %>
      <span class="text-lg font-semibold"><%= t('.menu') %></span>
    <% end %>
  <% else %>
    <%= link_to carta_path(restaurant_id: params[:restaurant_id]),
        class: "print:hidden fixed bottom-5 right-5 cursor-pointer drop-shadow-lg bg-brand-red text-white h-[75px] w-[75px] flex justify-center items-center aspect-square rounded-full transition-colors duration-500 animate-pulse-subtle" do %>
      <span class="text-lg font-semibold"><%= t('.carta') %></span>
    <% end %>
  <% end %>
<% end %>
