<% if request.path.include?("/menu") %>
  <div class="w-[96%] mb-8 mx-auto flex flex-col gap-2 justify-center items-center text-xl font-thin"
       role="region"
  >
    <h2 class="text-2xl font-normal underline underline-offset-4 decoration-emerald-500/30">
      <%= t('.menu_includes') %>:
    </h2>
    <p>🍽 <%= t('.first_course') %></p>
    <p>🍽 <%= t('.second_course') %></p>
    <p>🥖 <%= t('.bread_and_water') %> 🥤</p>
    <p>🍮 <%= t('.dessert_or_coffee') %> ☕</p>
    <div class="italic font-sans font-light text-5xl text-emerald-500">
      <%= Setting.menu_price(params[:restaurant_id]) %> €
    </div>
  </div>
<% end %>

<% if (request.path.include?("/carta") || request.path.include?("/menu")) %>
  <div class="w-[96%] mx-auto border border-gray-400/10 rounded py-4 px-3 my-8 shadow-md flex flex-col gap-4 font-roboto text-lg text-slate-700 dark:text-slate-300 mb-32"
       role="complementary">
    <section class="flex-col pt-4 items-center max-w-xs mx-auto">
      <% if @restaurant.logo.attached? %>
        <%= image_tag @restaurant.logo,
            class: "w-full h-auto rounded-lg mb-1",
            alt: t('.restaurant_logo', name: @restaurant.name) %>
      <% end %>
    </section>
    <h2 class="text-2xl text-balance text-center py-6 rounded shadow font-play">
      <%= @restaurant.name %>
    </h2>
    <%= link_to @restaurant.google_maps_link,
        target: "_blank",
        rel: "noopener",
        class: "flex gap-3 items-center font-light" do %>
      <%= image_tag 'map.svg', class: "w-10", alt: t('.map_icon') %>
      <%= @restaurant.full_address %>
    <% end %>
    <%= link_to "tel:#{@restaurant.phone}",
        class: "flex gap-3 items-center font-light",
        aria_label: @restaurant.phone do %>
      <%= image_tag 'phone.svg', class: "w-10", alt: t('.phone_icon') %>
      <%= @restaurant.phone %>
    <% end %>
  </div>
<% end %>
