<nav
    class="sticky top-0 z-10 flex flex-col w-full bg-white dark:bg-gray-800 dark:text-white transition-colors duration-500"
    data-controller="search-toggle filter-toggle sticky-shadow"
    data-sticky-shadow-target="parent"
>
    <div class="relative">
        <!-- Principal row -->
        <section class="grid grid-cols-3 items-center w-full px-5 py-4">
            <!-- Theme switcher -->
            <div class="justify-self-start flex justify-start">
                <%= render "shared/theme_switch" %>
            </div>

            <!-- Logo -->
            <div class="justify-self-center w-20 flex justify-center">
                <%= render "shared/restaurant_logo" %>
            </div>

            <!-- search button -->
            <div class="justify-self-end w-20 flex justify-end">
                <button class="flex gap-2 items-center" data-action="click->search-toggle#toggle">
                    <div class="w-12 text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M256 64C150.13 64 64 150.13 64 256s86.13 192 192 192s192-86.13 192-192S361.87 64 256 64m91.31 283.31a16 16 0 0 1-22.62 0l-42.84-42.83a88.08 88.08 0 1 1 22.63-22.63l42.83 42.84a16 16 0 0 1 0 22.62"/>
                            <circle cx="232" cy="232" r="56" fill="currentColor"/>
                        </svg>
                    </div>
                </button>
            </div>
        </section>

        <!-- search section open -->
        <section class="flex flex-col gap-4 px-5 shadow rounded-b-2xl max-h-0 overflow-hidden transition-all duration-300 ease-in-out opacity-0" data-search-toggle-target="searchSection">
            <div class="relative w-full">
                <input type="search" placeholder="Escribe para buscar..." class="w-full pl-4 pr-16 py-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 text-gray-700">
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700">
                    <button data-action="click->filter-toggle#toggle" data-filter-toggle-target="filterButton">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 28 28">
                            <path fill="currentColor" d="M17.25 19a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5zm4-6a.75.75 0 0 1 0 1.5H6.75a.75.75 0 0 1 0-1.5zm3-6a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1 0-1.5z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <section class="w-full max-h-0 overflow-hidden transition-all duration-300 ease-in-out opacity-0" data-filter-toggle-target="filterMenu">
                <div class="rounded border border-gray-300 flex flex-col gap-4 p-4 mb-4">
                    <div>No mostrar productos con:</div>
                    <div class="flex flex-wrap gap-4">
                        <% Allergen.all.each do |allergen| %>
                            <div class="flex items-center gap-2">
                                <input type="checkbox" id="allergen-<%= allergen.id %>" class="h-5 w-5 rounded">
                                <label for="allergen-<%= allergen.id %>"><%= allergen.name %></label>
                            </div>
                        <% end %>
                    <div>
                </div>
            </section>
        </section>

        <nav
            class="z-10 absolute w-full max-w-xl overflow-x-scroll scrollbar-hide border-t border-gray-100 dark:border-gray-100/25 bg-white dark:bg-gray-800 flex justify-evenly content-center items-center gap-14 py-4 px-6 transition-colors duration-500"
            data-sticky-shadow-target="sticky"
        >
            <%= render "menu/category_links"  %>
        </nav>
    </div>
</nav>
<div class="h-20"></div>
