<div class="flex flex-col w-full max-w-2xl" data-controller="profile-logo">
    <h2 class='my-4 text-4xl text-center'><%= t('.title') %></h2>

    <%= form_with(model: @restaurant,
        url: profile_path,
        local: true,
        html: {
          class: 'flex flex-col rounded-[3px] shadow p-8 dark:shadow-gray-600'
        }) do |f| %>

        <label id="logo" class="mb-4">
            <div class="relative w-full" style="padding-top: 56.25%">
                <div data-profile-logo-target="loader"
                     class="absolute inset-0 flex items-center justify-center bg-gray-100 dark:bg-gray-700 transition-opacity duration-300 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 animate-spin" width="24" height="24" viewBox="0 0 24 24"><g fill="currentColor"><path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14m0 3c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" clip-rule="evenodd" opacity="0.2"/><path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7z"/></g></svg>
                </div>

                <%= image_tag @restaurant.logo.attached? ? @restaurant.logo : 'logo-placeholder.svg',
                    class: "absolute inset-0 w-full h-full object-contain opacity-0 transition-opacity duration-300 rounded",
                    data: {
                        profile_logo_target: "image",
                        action: "load->profile-logo#imageLoaded"
                    } %>
            </div>
            <%= f.file_field :logo,
                class: "hidden",
                data: {
                    action: "change->profile-logo#change",
                    profile_logo_target: "input"
                },
                accept: "image/png, image/jpeg, image/jpg" %>
        </label>

        <div class="mb-2">
            <%= f.label :name, t('.labels.name'),
                class: "font-semibold text-sm text-gray-600 pb-1 block dark:text-gray-200" %>
            <%= f.text_field :name,
                class: "placeholder:italic placeholder:text-gray-700 placeholder:font-extralight border rounded-[3px] px-3 py-2 mt-1 mb-5 text-sm w-full dark:text-gray-800",
                placeholder: t('.placeholders.name') %>
        </div>

        <div class="mb-2">
            <%= f.label :province, t('.labels.province'),
                class: "font-semibold text-sm text-gray-600 pb-1 block dark:text-gray-200" %>
            <%= f.select :province,
                options_for_select(provinces, @restaurant.province),
                { prompt: t('.select_province') },
                class: "border rounded-[3px] px-3 py-2 mt-1 mb-5 text-sm w-full dark:text-gray-800" %>
        </div>

        <div class="mb-2">
            <%= f.label :city, t('.labels.city'),
                class: "font-semibold text-sm text-gray-600 pb-1 block dark:text-gray-200" %>
            <%= f.text_field :city,
                class: "placeholder:italic placeholder:text-gray-700 placeholder:font-extralight border rounded-[3px] px-3 py-2 mt-1 mb-5 text-sm w-full dark:text-gray-800",
                placeholder: t('.placeholders.city') %>
        </div>

        <div class="mb-2">
            <%= f.label :address, t('.labels.address'),
                class: "font-semibold text-sm text-gray-600 pb-1 block dark:text-gray-200" %>
            <%= f.text_field :address,
                class: "placeholder:italic placeholder:text-gray-700 placeholder:font-extralight border rounded-[3px] px-3 py-2 mt-1 mb-5 text-sm w-full dark:text-gray-800",
                placeholder: t('.placeholders.address') %>
        </div>

        <div class="mb-2">
            <%= f.label :phone, t('.labels.phone'),
                class: "font-semibold text-sm text-gray-600 pb-1 block dark:text-gray-200" %>
            <%= f.telephone_field :phone,
                class: "placeholder:italic placeholder:text-gray-700 placeholder:font-extralight border rounded-[3px] px-3 py-2 mt-1 mb-5 text-sm w-full dark:text-gray-800",
                placeholder: t('.placeholders.phone') %>
        </div>

        <%= f.submit t('.save'),
            class: "p-2 w-full bg-sky-800 rounded-[3px] text-white font-bold active:bg-sky-950" %>
    <% end %>
</div>
