<div class="w-full">
    <div class="sticky top-[-1px] bg-white dark:bg-gray-800 pb-1 z-10 cubic-transition" data-controller="sticky-shadow" data-sticky-shadow-target="sticky">
        <h1 class="mb-8 text-4xl font-thin text-center text-pretty"><%= t('.title') %></h1>
        <div class="flex flex-col md:items-center justify-center gap-6 px-3 mb-6 align-middle md:flex-row">
            <div class="flex gap-2 items-center shrink-0">
                <%= render "shared/add_button", path: new_dish_path %>
                <%= link_to t('.menu'),
                    dishes_control_panel_path(filter: 'daily'),
                    class: "p-1 #{@color[:menu]} dark:text-white text-gray-800 rounded-[3px]"
                %>
                <%= link_to t('.carta'),
                    dishes_control_panel_path(filter: 'menu'),
                    class: "p-1 #{@color[:carta]} dark:text-white text-gray-800 rounded-[3px]"
                %>
            </div>
            <%= form_with url: dishes_control_panel_path, method: :get, html: { class: 'flex gap-2 flex-1'} do |form| %>
                <%= form.hidden_field :filter, value: params[:filter] %>
                <%= form.text_field :query,
                    placeholder: t('.search_placeholder'),
                    data: { dish_search_target: 'search', action: 'input->dish-search#search' },
                    class: "bg-white focus:ring-blue-600 focus:border-blue-600 border border-gray-300 dark:text-gray-800 rounded-[3px] py-2 px-4 block w-full"
                %>
                <%= button_tag(type: 'submit', class: "p-2 bg-brand-red-light text-white rounded-full shrink-0 shadow-md w-10 h-10") do %>
                    <%= image_tag 'icons/search.svg',
                        class: 'w-5 h-5 text-white shrink-0 mx-auto',
                        alt: t('.search_button') %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div id="dishList" class="p-3">
        <%= turbo_frame_tag "dishes-#{@pagy.page}" do %>
            <%= render partial: 'dish', collection: @dishes %>

            <%= turbo_frame_tag "dishes-#{@pagy.next}",
                src: pagy_url_for(@pagy, @pagy.next),
                loading: :lazy,
                class: "w-full" if @pagy.next
            %>
        <% end %>
    </div>
</div>
