<select
  name="dish[category_id]"
  role="combobox"
  id="dish_category_id"
  data-dish-type-target="categorySelect"
  data-dish-form-target="categorySelect"
  class="dark:text-gray-800 form-select mt-1 block rounded-[3px] border-gray-300 shadow focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-full animate__animated"
>
    <option><%= t('.select_category') %></option>
    <% Category.menu(current_restaurant.id).each do |cat| %>
        <option value="<%= cat.id %>" <%= "selected" if dish.category_id == cat.id %>><%= cat.name %></option>
    <% end %>
    <% unless Category.daily(current_restaurant.id).empty? %>
        <option disabled><%= t('.separator') %></option>
    <% end %>
    <% Category.daily(current_restaurant.id).each do |cat| %>
        <option value="<%= cat.id %>" <%= "selected" if dish.category_id == cat.id %>><%= cat.name %></option>
    <% end %>
</select>
