<% @menu_categories.each do |category| %>
  <% dishes = @categorized_dishes[category.id] %>
  <% next if dishes.blank? %>
  <h2 class="px-4 pb-4 text-3xl font-semibold text-center text-teal-700" id="category-<%= category.id %>"><%= translate("category.#{category.id}.name",category.name) %></h2>
  <% dishes.each do |dish| %>
    <%= turbo_stream_from dish %>

    <%= link_to build_link(dish), data: { turbo_frame: "modal" } do %>
      <%= render "menu_dish", dish: dish %>
    <% end %>
  <% end %>
  <div class='py-3'></div>
<% end %>
