<%= turbo_frame_tag category, data: { id: category.id } do %>
    <div class='hover:cursor-grab flex justify-between items-center px-4 py-5 border border-gray-600 rounded bg-white dark:bg-gray-800 duration-500 transition-colors' data-id="<%= category.id %>">
        <!-- Name -->
        <h2 class="text-xl dark:text-white text-black"><%= category.name_es %></h2>

        <!-- Actions -->
        <div class='flex gap-4 dark:text-white text-black'>
            <!-- Edit -->
            <%= link_to(
                edit_category_path(category),
                class: 'btn btn-primary',
                aria_label: t('.edit_category')
            )do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m16.475 5.408l2.117 2.117m-.756-3.982L12.109 9.27a2.1 2.1 0 0 0-.58 1.082L11 13l2.648-.53c.41-.082.786-.283 1.082-.579l5.727-5.727a1.853 1.853 0 1 0-2.621-2.621"/><path d="M19 15v3a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h3"/></g></svg>
            <% end %>
            <!-- Delete -->
            <%= link_to(
                category_path(category),
                data: {
                    turbo_method: :delete,
                    turbo_confirm: "¿Estás seguro de que deseas eliminar esta categoría?"
                },
                class: 'btn btn-danger'
            ) do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h4a1 1 0 1 1 0 2h-1.069l-.867 12.142A2 2 0 0 1 17.069 22H6.93a2 2 0 0 1-1.995-1.858L4.07 8H3a1 1 0 0 1 0-2h4zm2 2h6V4H9zM6.074 8l.857 12H17.07l.857-12zM10 10a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1m4 0a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1"/></svg>
            <% end %>

            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M184.49 167.51a12 12 0 0 1 0 17l-48 48a12 12 0 0 1-17 0l-48-48a12 12 0 0 1 17-17L128 207l39.51-39.52a12 12 0 0 1 16.98.03m-96-79L128 49l39.51 39.52a12 12 0 0 0 17-17l-48-48a12 12 0 0 0-17 0l-48 48a12 12 0 0 0 17 17Z"/></svg>
            </span>
        </div>
    </div>
<% end %>
