<% if @drinks_categories.present? %>
    <%= turbo_frame_tag "drinks_section" do %>
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-lg border border-gray-200 dark:border-gray-700 overflow-hidden mb-8">
            <div class="px-6 py-4 border-b border-gray-200 dark:border-gray-700">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Bebidas de la Carta</h2>
            </div>
            <%= turbo_frame_tag 'categories_drinks_list', class: "divide-y divide-gray-200 dark:divide-gray-700", data: { sortable_target: "drinksList" } do %>
            <%= render @drinks_categories.order(:position) %>
            <% end %>
        </div>
    <% end %>
<% else %>
    <%= turbo_frame_tag "drinks_section" do %>
        <%= turbo_frame_tag 'categories_drinks_list', data: { sortable_target: "drinksList" } %>
    <% end %>
<% end %>
