<%= turbo_frame_tag @category_form_frame_tag do %>
    <%= form_with model: Category.new, class: "flex flex-col gap-2 w-full border border-gray-400 p-4 rounded mb-10" do |f| %>
        <%= f.label :name_es, "Añadir categoría", class: "text-gray-700 dark:text-gray-200" %>
        <%= f.text_field :name_es, class: "border-gray-400 text-black rounded dark:bg-gray-200" %>
        <%= f.hidden_field :category_type, data: { categories_target: "categoryType" } %>

        <!-- FORM BUTTONS -->
        <div class="flex items-center justify-between gap-4 mt-2">
            <div data-categories-target="selector" class="relative flex h-full w-60
                overflow-hidden border
                border-gray-400 rounded-full p-[0.175rem]
                font-light isolate">
                <button type="button"
                        data-action="click->categories#switch"
                        data-categories-target="menuSelector"
                        data-value="menu"
                        class="flex-1 px-3 py-1 font-semibold rounded-full bg-brand-red text-red-50">
                    carta
                </button>
                <button type="button"
                        data-action="click->categories#switch"
                        data-value="daily"
                        data-categories-target="dailySelector"
                        class="flex-1 px-3 py-1 rounded-full text-gray-600 dark:text-gray-200">
                    menú
                </button>
                <button type="button"
                        data-action="click->categories#switch"
                        data-value="drinks"
                        data-categories-target="drinksSelector"
                        class="flex-1 px-3 py-1 rounded-full text-gray-600 dark:text-gray-200">
                            bebidas
                </button>
            </div>
        <%= f.submit "Enviar", class: "px-4 py-2 border-gray-400 text-gray-700 dark:text-gray-200 rounded border cursor-pointer hover:text-black hover:bg-gray-100 dark:hover:text-gray-700 transition-colors duration-150 ease-in-out" %>
        </div>
    <% end %>
<% end %>
