<!DOCTYPE html>
<html data-controller="theme-switcher" data-theme-switcher-target="root" lang="gl">
    <script>
        document.documentElement.classList.add(localStorage.theme)
    </script>
  <head>
    <title>Cartly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= yield :head %>
  </head>

  <body class="flex flex-col justify-center w-auto h-full mt-0 transition-colors duration-500 bg-white main-content dark:bg-gray-800 dark:text-white">
    <div class="flex justify-center">
      <%= render "shared/flash" %>
    </div>

    <%= render "shared/theme_switch" %>
    <%= render "shared/menu" %>
    <%= render "shared/logo_link" %>

    <main class="flex justify-center w-full mb-4">
      <%= yield %>
      <%= render "shared/locale_switch" %>
      <%= render "shared/card_menu_switch" %>
    </main>

    <%= render "shared/info" %>
  </body>
</html>
