<!DOCTYPE html>
<html class="" data-controller="theme-switcher" data-theme-switcher-target="root">
    <script>
        document.documentElement.classList.add(localStorage.theme)
    </script>
  <head>
    <title>Taberna Navegación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="manifest" href="/manifest.json">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= yield :head %>
  </head>

  <body class="flex flex-col justify-center w-auto h-full mt-0 transition-colors duration-500 bg-white main-content dark:bg-gray-800 dark:text-white">
    <%= render "shared/theme_switch" %>
    <div class="flex justify-center">
      <%= render "shared/flash" %>
    </div>

    <%= render "shared/theme_switch" %>
    <%= render "shared/menu" %>

    <%= link_to "/#{Setting.root_page}", class: "w-full flex mt-4 justify-center w-full text-gray-700 dark:text-white" do %>
        <div class="w-1/3 md:w-1/4 lg:w-1/6">
            <%= render "shared/logo" %>
        </div>
    <% end %>

    <main class="flex justify-center w-full mb-4">
      <%= yield %>
      <%= render "shared/locale_switch" %>
      <%= render "shared/card_menu_switch" %>
    </main>

    <%= render "shared/info" %>
  </body>
</html>
